@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff8c00;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  height: 10px;
  border-radius: 10px;
}

/*_____Global tailwind classes_____*/
a {
  @apply transition-all duration-300  ease-in-out focus-visible:outline focus-visible:outline-primary focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-opacity-50;
}

input {
  @apply rounded-md border-2 border-gray-400 transition-all duration-300 ease-in-out focus-visible:outline focus-visible:outline-gray-500 focus-visible:ring-2 focus-visible:ring-gray-500 focus-visible:ring-opacity-50;
}
